
<h1>App Component</h1>
<!--<app-items></app-items>-->

<a class="btn btn-primary" role="button" [routerLink]="['/home']">Home</a>
&nbsp;
<a class="btn btn-primary" role="button" [routerLink]="['/items']">Items</a>
&nbsp;
<a class="btn btn-primary" role="button" [routerLink]="['/items', 1]">Items</a>


<!-- Se encarga de renderizar los componentes en función de la ruta a la que accedamos-->
<router-outlet></router-outlet>

<!-- <app-observ></app-observ> -->
<!-- Clase 1 -->
<!--<app-mi-componente [valor]="valorPadre"></app-mi-componente>-->

<!-- Clase 7.3 -->
<app-async></app-async>
